#searchField {
  width: 300px;
}

#confirmLogout {
  display: none;
}

div#row {
  padding: 5px 20px 0px 20px;
}

div#col1 {
  float: left;
  width: 100%;
  padding: 10px;
}

span#spanNoResults {
  display: none;
  font-size: 16pt;
}

table{
  width: 100%;
  border-collapse: separate;
  border-spacing: 5px;
}

td{
  width: 20%;
  text-align: left;
  border-radius: 10px;
  padding: 10px;
  background-color: #f2f2f2;
  margin: 5px;
}

td:hover{
  background-color: #ccc;
}



 




















